.edit-profile {
	width: 100%;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	.profile__data {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
		margin-bottom: 20px;
		.avatar {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-bottom: 30px;
		}
		h3 {
			color: white;
			font-size: 25px;
		}
	}

	.profile__data-edit {
		display: flex;
		margin-bottom: 50px;
		#editBtn {
			width: 70px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#editBtn:first-child {
			margin-right: 20px;
		}
	}
}
