.profile__data {
	max-width: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 100px;
	img {
		margin-bottom: 10px;
	}
	h3 {
		font-size: 18px;
	}
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
