form {
	margin: 0 auto;
	padding: 25px;
	background-color: aliceblue;
	border-radius: 10px;
	border: 0.5px solid rgba($color: #fff, $alpha: 0.2);
	box-shadow: 0 10px 15px rgba(50, 50, 93, 0.11),
		0 1px 3px rgba(0, 0, 0, 0.08);
}
input {
	all: unset;
	padding: 15px 20px;
	border-radius: 10px;
	box-shadow: 0 10px 15px rgba(50, 50, 93, 0.11),
		0 1px 3px rgba(0, 0, 0, 0.08);
	background-color: aliceblue;
	margin-bottom: 10px;
	font-size: 16px;
	width: 90%;
	&::placeholder {
		color: rgba(184, 167, 167, 0.7);
	}
}
input[type="submit"],
.social__btn {
	display: block;
	padding: 12px 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	background-color: aliceblue;
	&:active {
		transform: translateY(1px);
	}
}

button {
	all: unset;
	display: block;
	padding: 12px 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	background-color: aliceblue;
	box-shadow: 0 10px 15px rgba(50, 50, 93, 0.11),
		0 1px 3px rgba(0, 0, 0, 0.08);
	&:active {
		transform: translateY(1px);
	}
}
