.empty__message {
	margin-bottom: 50px;
	font-size: 18px;
}

.auth-switch {
	text-align: center;
	margin-top: 30px;
	a {
		text-decoration: underline;
		color: rgba($color: $purple, $alpha: 0.9);
	}
}
