.video-grid {
	margin: 0 auto;
	width: 90%;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	grid-auto-flow: 480px;
	justify-items: center;
}

.video-mixin {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 320px;
	height: 480px;
	margin-bottom: 50px;
	// thumbnail
	.video-mixin__thumb {
		width: 100%;
		height: 100%;
		border-radius: 8px;
		background-color: aliceblue;
		box-shadow: 0 10px 15px rgba(50, 50, 93, 0.11),
			0 1px 3px rgba(0, 0, 0, 0.08);
	}
	.video-mixin__data {
		&.showing {
			opacity: 1;
		}
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		color: white;
		opacity: 0;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		padding: 12px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				margin: 0;
				margin-right: 10px;
			}
			.video-mixin__username {
				font-size: 16px;
			}
		}
		.video-mixin__title {
			font-size: 18px;
		}
		.video-mixin__meta {
			margin-right: 10px;
			font-size: 13px;
		}
	}
}
