#videoContainer {
	position: relative;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	video {
		width: 400px;
		object-fit: fill;
	}
}

.videoControls {
	color: white;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	&.showing {
		opacity: 1;
	}
	background-color: rgba($color: $bg, $alpha: 0.9);
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 10px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	button {
		all: unset;
		cursor: pointer;
		i {
			font-size: 15px;
			margin-right: 10px;
		}
	}

	input[type="range"] {
		all: unset;
		background-color: none;
		-webkit-appearance: none;
		height: 10px;
	}
	input[type="range"]::-webkit-slider-runnable-track {
		width: 80%;
		height: 10px;
		cursor: pointer;
		background: rgba($color: $bg, $alpha: 0.8);
		border-radius: 14px;
	}
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		margin-top: -1px;
		height: 12px;
		width: 12px;
		border-radius: 50%;
		background: aliceblue;
		cursor: pointer;
	}
	.controls__top {
		margin: 0 auto;
		margin-bottom: 10px;
		width: 98%;
		input#timeline {
			width: 100%;
		}
	}

	.controls__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.controls__volume {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			input {
				width: 50%;
			}
		}
		.controls__play {
			display: flex;
			justify-content: space-around;
			margin-left: 10px;
			margin-right: 30px;
		}
		.controls__time {
			display: flex;
			justify-content: center;
			align-items: center;
			letter-spacing: 2px;
			font-size: 10px;
		}
	}
}
