extends base 

block content 
    h1#joinTitle Join
    form.join(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(type="text", name="userId", placeholder="ID")
        input(type="text", name="name", placeholder="NAME")
        input(type="email", name="email", placeholder="E-MAIL")
        input(type="password", name="password", placeholder="PASSWORD")
        input(type="password", name="password2", placeholder="PASSWORD CONFIRM")
        input(type="text", name="location", placeholder="LOCATION")
        button Create Account
        include partials/social-login
        div.auth-switch
            span Already Have an Account? 
            a(href="/login") Log in now &rarr;