extends base 

block content 
    h1#pageTitle Login
    form(method="POST")
        input(type="text", name="userId", placeholder="ID")
        input(type="password", name="password", placeholder="PASSWORD")
        button Login
        include partials/social-login
        div.auth-switch
            span Don't have an account?  
            a(href="/join") Create account now &rarr;
    