header     
    section
        div.search-bar__container
            form(method="GET" action="/search")
                input(type="text", name="keyword", placeholder="Searching by video title",requried)
                button
                    i.fas.fa-search
            