header
    h1 Catch the movement.
    section
        div.search-bar__container
            form(method="GET" action="/search")
                input(type="text", name="keyword", placeholder="Searching by video title" requried autocomplete="off")
                button
                    i.fas.fa-search