header
    h1 Color of the year.
    video(autoplay muted loop id="bg-video")
        source(src="https://bbomtube.s3.ap-northeast-2.amazonaws.com/videos/bbom-bg-video.mp4" type="video/mp4")  
    section
        div.search-bar__container
            form(method="GET" action="/search")
                input(type="text", name="keyword", placeholder="Searching by video title" requried autocomplete="off")
                button
                    i.fas.fa-search