extends ../base

block content
    if errorMessages
        ul
        each errorMessage in errorMessages
            li=errorMessage
    form(method="POST")
        input(name="oldPassword", type="password", required)
        input(name="newPassword", type="password", required)
        input(name="confirmPassword", type="password", required)
        input(type="submit", value="Change Password")
