extends ../base

block content
    if errorMessages
        ul
        each errorMessage in errorMessages
            li=errorMessage
    h1#changePasswordTitle Change Password
    form(method="POST")
        input(name="oldPassword", type="password", placeholder="Current Password" required)
        input(name="newPassword", type="password", placeholder="New Password" required)
        input(name="confirmPassword", type="password", placeholder="Password Confirm" required)
        input(type="submit", value="Change Password")
